$track-color: $laravel-border-color !default;
$thumb-color: $brand-primary !default;

$thumb-radius: 12px !default;
$thumb-height: 24px !default;
$thumb-width: 24px !default;
$thumb-shadow: $carousel-text-shadow !default;
$thumb-border-width: 2px !default;
$thumb-border-color: $laravel-border-color !default;

$track-width: 100% !default;
$track-height: 8px !default;
$track-shadow: 1px 1px 1px $popover-border-color !default;
$track-border-width: 2px !default;
$track-border-color: $laravel-border-color !default;

$track-radius: 5px !default;
$contrast: 5% !default;